<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
    <Properties>
        <Property name="log-path">logs</Property>
        <Property name="filename">mvntest</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %c{1}:%L - %msg%n"/>
        </Console>
        <RollingFile name="ApplicationLog"
                     fileName="${log-path}/${filename}.log"
                     filePattern="${log-path}/${filename}-%d{yyyy-MM-dd}.log"
                     append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %c{1}:%L - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="io.github.villcab.mvntest" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ApplicationLog"/>
        </Logger>
        <Root level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>